<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="wallets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wallets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wallets-link">
                <a href="{% url 'products' %}?accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=storage" class="dropdown-item">Storage</a>
                <a href="{% url 'products' %}?category=wallets" class="dropdown-item">Wallets</a>
                <a href="{% url 'products' %}?category=t-shirts" class="dropdown-item">T-Shirts</a>
                <!--<a href="{% url 'products' %}?category=accessories,storage,wallets" class="dropdown-item">All Wallets &amp Accessories</a> -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="learn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Learn
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="learn-link">
                <a href="https://www.coinbase.com/learn" target="_blank" class="dropdown-item">Ledger Academy</a>
                <a href="https://academy.binance.com/en/articles?page=1" target="_blank" class="dropdown-item">Beginners Guide</a>
                <a href="https://coinmarketcap.com/headlines/news/" target="_blank" class="dropdown-item">Latest News</a>
                <a href="" target="_blank" class="dropdown-item">Blog</a>
                <!--<a href="#" target="_blank" class="dropdown-item">Blog Post</a> -->
            </div>
        </li>
     </ul>
</div>